body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1px;
}

h1, h2, h3 {
    color: #E50914;
}

section {
    margin: 20px;
}

.movie-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie h3 {
    margin-bottom: 10px;
    color: #333;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #ffcc00;
    color: #222;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffd633;
    
}
.nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.center-form {
    position: relative;
    margin: top 50px;/* Cela centre horizontalement le formulaire */
    width: auto; /* Vous pouvez ajuster la largeur selon vos besoins */
    /* Autres styles si nécessaire */
}


a {
    color: #ffcc00;
}

a:hover {
    color: #ffd633;
}
nav {
    background-color: #333;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #555;
}
div {
    background: #001f3f;
    position: relative;
    width: 40%; 
    margin: 0 auto;
    margin-top: 15px;
    padding: 3rem;
    height: 220px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    color: #fff;
}

div::before {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #111, #333);
    z-index: -1;
    border-radius: 20px;
    background-color: #111;
}

form {
    text-align: center;
}

input {
    padding: 8px;
    margin: 8px;
    border: none;
    border-radius: 5px;
}

input[type="reset"], input[type="submit"] {
    background-color: #ffcc00;
    color: #222;
    cursor: pointer;
}

input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #ffd633;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ffd633;
}
.mo{ 
            background-color:silver;
            color: white; /* Pour changer la couleur du texte si nécessaire */
            width: 20%; /* Vous pouvez ajuster cette valeur en fonction de vos besoins */
            margin:auto; /* Ceci centre l'élément horizontalement */
           
            background:rgb(145, 145, 46);
            background: #001f3f;
            position: relative;
            width: 30%; 
        
            margin-top: 15px;
            padding: 2%;
            height: 200%;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
            color: #fff;
    	
}
.mo > * {
    flex: 1; /* Chaque élément enfant prend la largeur totale */
    display: flex;
    flex-direction: column;
}
.po{
    background-image: url("image2.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
}
 .m{
background-color:  black;
 
 color: white;
 }